*{
    padding: 0;
    margin: 0;
}

body{
    background-color: pink;
}

:root{
   /* --main-radius: 5px;*/
    --main-padding: 5px;
}

#container{
    display: grid;
grid-template-columns: 0.5fr 1fr 1fr 1fr;
grid-template-rows: 0.5fr 1.1fr 1.2fr 0.8fr;
grid-template-areas:
 "navBar navBar navBar navBar"
 "sideBar main main main"
 "sideBar content1 content3 content2"
 "footer footer footer footer";
 grid-gap: 0.1rem;
 height: 100vh;
 font-family: "inter", sans-serif;
 font-weight: 800;
 text-transform: uppercase;
 font-size: 12px;
 color: black;
 text-align: center;

}

#navBar{
    background-color: rgb(241, 99, 99);
    width: 100%;
    grid-area: navBar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-size: 14px;
    
}

#sideBar{
    display: flex;
    background-color: rgb(83, 163, 163);
    grid-area: sideBar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#main{
     background-color: rgb(83, 163, 163);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1{
     background-color: rgb(83, 163, 163);
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2{
    background-color: rgb(83, 163, 163);
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background-color: rgb(243, 182, 192);
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#footer{
     background-color: rgb(11, 119, 119);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

@media only screen and (max-width:700px){
    #container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.3fr 0.5fr 0.2fr 0.2fr 0.2fr 0.3fr ;
        grid-template-areas: 
        "navBar"
        "sideBar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
    #profilePic{
    width: 60px;
    }
    #navBar{
        font-size: 14px;
    }
   
}


#logPageDiv{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.5fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(83, 163, 163);
}

#profilePic{
    width: 100px;
    border-radius: 50px;
    justify-self: center;
    box-shadow: 4px 4px 10px grey;
    
    
}




#formDiv{
    display: grid;
    justify-items: center;
    align-items: center;
    
}

#loginContainerDiv{
    display: grid;
    width: 60%;
    padding-top: 0;
    padding-bottom: 10px;
    border: 5px double;
    border-color: #abc2e6;
    box-shadow: 4px 4px 10px grey;
    
}

#loginTitle{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

#loginP{
    display: grid;
    width: 80px;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#userForm{
    text-align: center;
    padding-bottom: 15px;
}

#userFormSubmit{
    font-size: 20px;
}

#outPutText{
    white-space-collapse: pre-line;
}


#myPicDiv{
    background-color: rgb(228, 110, 55);
    margin: 10px 40px 10px 20px;
    padding: 10px;
     border: 7px double;
    border-color: #abc2e6;
}

#fabrisTalkMic{
    height: 150px;

}

#fabrisTalkSelf{
    height: 150px;
   
}
